<ion-view title="Novo Orcamento">
	<ion-content class="has-header padding">
		<div class="list card">
			<div class="item item item-avatar">
                <h2>Selecione o perfil</h2>
                <div ng-show="selected_perfil">
                    Perfil: {{ selected_perfil.title }}
                </div>
            </div>
            <div class="item item item-body">
                <div ng-show="selected_perfil">
                    <img ng-src="{{selected_perfil.imageUrl}}" class="full-image">
                </div>
                <div ng-hide="selected_perfil">
                    <img ng-src="img/visual.jpg" class="full-image">
                </div>
            </div>
        </div>
    	<div class="list list-inset">
    		<ion-list>
    			<ion-item ng-repeat="perfil in perfis" type="item-text-wrap" ng-click="select(perfil)">
        		{{perfil.title}}
      			</ion-item>
    		</ion-list>
    	</div>
            <a class="button button-block icon-right ion-chevron-right button-balanced" href="#/selecionarVidro">Proseguir</a>
    </ion-content>
</ion-view>